
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-12 columns">
    <a id="bloglogo" href="/blog"><img alt="Pixel Pusher: The StackMachine Blog" src="/static/img/bloglogo.gif"></a>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 columns">
    <h1><a href="/blog/love-zero-nine-support-has-arrived">Announcing Support for LÖVE 0.9.0</a></h1>

<article class="post">
  <p><img alt='Baby Inspector' src='/static/img/baby.jpg' /></p>

<p>Version 0.9.0 (codename Baby Inspector) was released last week after a year in development. It&#8217;s a huge milestone for the engine and we&#8217;re happy to have been a part of the release. StackMachine powers <a href='http://love2d.org/builds'>Nightly LÖVE</a>, <a href='http://ci.projecthawkthorne.com'>the Jenkins infrastructure</a> behind nightly builds of LÖVE game engine. Users have been testing out 0.9.0 for months before the official release, finding bugs and providing valuable feedback.</p>

<p>Today StackMachine launches full support for 0.9.0. To enable 0.9.0 for your game, just make sure to include the following in your <code>conf.lua</code>:</p>

<pre><code>function love.conf(t)
  t.version = &quot;0.9.0&quot;
end</code></pre>

<p>If you&#8217;re unfamiliar with <code>conf.lua</code>, read the <a href='http://www.love2d.org/wiki/Config_Files'>Config Files</a> over on the LÖVE wiki. To maintain backwards compatibility, games without 0.9.0 declared in <code>conf.lua</code> will continue to use version 0.8.0 of the engine.</p>

<p>We&#8217;ve got more exciting features planned over the next few weeks, so <a href='http://localhost:8000/blog/feed.xml'>subscribe</a> and stay tuned.</p>
</article>

<div class="well" id="mc_embed_signup">
  <form class="form-inline" role="form" action="http://stackmachine.us7.list-manage.com/subscribe/post?u=6200d341ebdd542a86f42f04d&amp;id=9624067a19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6200d341ebdd542a86f42f04d_9624067a19" value=""></div>
    <p class="lead">Get notified of new posts</p>
    <div class="row">
      <div class="col-sm-9">
        <label class="sr-only" for="EMAIL">Email Address</label>
        <input type="text" value="" class="form-control"  name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
      </div>
      <div class="col-sm-3">
        <input class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>

  </div>
  <div class="col-sm-3 columns">
    <p><a href="/">StackMachine</a> helps you publish, track, and sell your games. Upload your game and we'll handle the rest. Instantly start selling your game, no waiting required.</p>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-primary" href="/accounts/register/">Sign up for free</a>
    </div>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-default" href="https://github.com/stackmachine">Code on GitHub</a>
      <a class="btn btn-default" href="https://twitter.com/stackmachine">Follow on Twitter</a>
      <a class="btn btn-default" href="/blog/feed.xml">RSS Feed</a>
    </div>
  </div>
</div>

{% endblock %}


{% block title %}Announcing Support for LÖVE 0.9.0{% endblock %}



