# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# SQLite3 database files:
*.db

# Logs:
*.log
venv

compass/.sass-cache
*.coverage

.DS_Store

django_cache
tests/production-vars
tests/local-vars
test.love
media
*.rdb
