{% extends "registration/registration_base.html" %}

{% load bootstrap %}

{% block title %}Confirm password reset{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>Reset Password</h2>
    <hr/>
    <p>Enter your new password below to reset your password.</p>

    <form method="post" action="">{% csrf_token %}
      {{form|bootstrap}}
      <button class="btn btn-primary" type="submit">Set password</button>
    </form>
  </div>
</div>
{% endblock %}
