
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-12 columns">
    <h2>Web development performance inside and outside a VM</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 columns">
    <p class="meta">July 19, 2013 by Brandon Liu</p>

<article class="post">
<h5 id='update'>Update!</h5>

<p>Per knotty66&#8217;s suggestion on <a href='https://news.ycombinator.com/item?id=6085695'>Hacker News</a>, I added measurements with NFS on VirtualBox instead of Shared Folders, which speed it up significantly.</p>

<h5 id='update_2'>Update 2!</h5>

<p>joevandyk points out that NFS Shared Folders can help on VMware Fusion too. Added measurements, which shave off a second or two on app boot. Joe also tipped us off to this forum thread detailing other&#8217;s experiences: <a href='http://vagrant.1086180.n5.nabble.com/Shared-folders-slow-using-VMWare-provider-as-well-as-VirtualBox-td935.html'>Shared folders slow using VMWare provider as well as VirtualBox</a></p>

<h2 id='overview'>Overview</h2>

<p>Web development on a VM presents plenty of benefits over developing on your host machine: developer environments are easy to distribute, can closely match production, and can be recreated at will. <a href='http://www.vagrantup.com'>Vagrant</a> already handles many headaches around using VMs seamlessly, such as networking and shared filesystems. However, many potential users worry about the performance hit of developing in a VM.</p>

<p>I decided to quantify the difference for typical tasks using my &#8216;native&#8217; OS X machine, Vagrant with the <a href='http://www.virtualbox.com'>VirtualBox</a> provider, and Vagrant with the (paid) <a href='http://www.vagrantup.com/vmware'>Fusion provider</a> atop the (paid) <a href='http://www.vmware.com/products/fusion/overview.html'>VMware Fusion</a>.</p>
<hr />
<h3 id='test_setup'>Test Setup</h3>

<p>I&#8217;m using my relatively dinky 2012 MacBook Air - it has a Core i5 chip, an SSD, and 8GB of memory. I was aiming to measure the difference between machines in typical web development tasks, so don&#8217;t take these numbers as absolutes.</p>

<p>I chose to do my measurements on the <a href='https://github.com/discourse/discourse'>Discourse</a> forum application. It&#8217;s written in Ruby on Rails and has a fairly large test suite that&#8217;s comparable in size and complexity to most company&#8217;s applications. Also, it&#8217;s free and open source, so please do try to reproduce these results yourself!</p>

<p>For both VirtualBox and Fusion, I allocated 2GB of RAM to the guest machine. I tried these tests again using only 1GB, but it didn&#8217;t make a significant difference. The guests are running a typical set of services: redis, postgres, nginx.</p>

<p>VirtualBox was also tested with NFS instead of Shared Folders, which has speed benefits outlined here: http://docs-v1.vagrantup.com/v1/docs/nfs.html However, you might not be able to use it if your host machine doesn&#8217;t support NFS.</p>
<hr />
<h4 id='application_boot_time'>Application boot time</h4>

<p>I measured the boot time of the application via the following script:</p>
<div class='highlight'><pre><code class='bash'><span class='nb'>time</span> <span class='sb'>`</span>bundle <span class='nb'>exec </span>script/rails runner <span class='s2'>&quot;0&quot;</span><span class='sb'>`</span>
</code></pre></div>
<p>Application boot time is one serious source of friction for developers, especially if you&#8217;re doing test-driven development (which you should be!). Note i&#8217;m using Ruby 2.0.0, which improves the performance of the <code>require</code> method significantly over 1.9.3. 10 seconds is a heck of a long time to wait for the app to start - if you&#8217;re interested in improving this check out <a href='https://github.com/martylamb/nailgun'>nailgun</a> (JRuby), <a href='https://github.com/sporkrb/spork'>spork</a> and <a href='https://github.com/burke/zeus'>zeus</a>.</p>

<p>I ran the script three times on each machine and recorded the wall clock time:</p>

<h5 id='host_machine'>Host Machine:</h5>
<div class='highlight'><pre><code class='bash'>real	0m9.173s
real	0m8.739s
real	0m8.823s
</code></pre></div>
<h5 id='virtualbox_w_shared_folders'>VirtualBox w/ Shared folders:</h5>
<div class='highlight'><pre><code class='bash'>real	0m21.764s
real	0m19.342s
real	0m20.674s
</code></pre></div>
<h5 id='virtualbox_w_nfs'>VirtualBox w/ NFS:</h5>
<div class='highlight'><pre><code class='bash'>real	0m9.500s
real	0m8.669s
real	0m8.625s
</code></pre></div>
<h5 id='vmware_fusion_w_shared_folders'>VMware Fusion w/ Shared Folders:</h5>
<div class='highlight'><pre><code class='bash'>real	0m10.587s
real	0m10.095s
real	0m10.445s
</code></pre></div>
<h5 id='vmware_fusion_w_nfs'>VMware Fusion w/ NFS:</h5>
<div class='highlight'><pre><code class='bash'>real	0m8.315s
real	0m8.781s
real	0m8.445s
</code></pre></div><hr />
<h4 id='time_for_total_test_suite'>Time for total test suite</h4>

<p>I measured the time it took to run the entire Discourse test suite by simply calling:</p>
<div class='highlight'><pre><code class='bash'>bundle <span class='nb'>exec </span>rake spec
</code></pre></div>
<p>The Discourse suite has 2672 individual test cases.</p>

<h5 id='host_machine'>Host Machine:</h5>
<div class='highlight'><pre><code class='bash'>Finished in 4 minutes 19.64 seconds
Finished in 3 minutes 52.26 seconds
Finished in 4 minutes 1.03 seconds
</code></pre></div>
<h5 id='virtualbox_w_shared_folders'>VirtualBox w/ Shared Folders:</h5>
<div class='highlight'><pre><code class='bash'>Finished in 5 minutes 31.31 seconds
Finished in 5 minutes 12.14 seconds
Finished in 5 minutes 32.54 seconds
</code></pre></div>
<h5 id='virtualbox_w_nfs'>VirtualBox w/ NFS:</h5>
<div class='highlight'><pre><code class='bash'>Finished in 4 minutes 42.27 seconds
Finished in 4 minutes 16.27 seconds
Finished in 4 minutes 43.79 seconds
</code></pre></div>
<h5 id='vmware_fusion_w_shared_folders'>VMware Fusion w/ Shared Folders:</h5>
<div class='highlight'><pre><code class='bash'>Finished in 4 minutes 16.68 seconds
Finished in 4 minutes 23.95 seconds
Finished in 4 minutes 22.87 seconds
</code></pre></div>
<h5 id='vmware_fusion_w_nfs'>VMware Fusion w/ NFS:</h5>
<div class='highlight'><pre><code class='bash'>Finished in 4 minutes 20.28 seconds
Finished in 4 minutes 15.43 seconds
Finished in 4 minutes 10.78 seconds
</code></pre></div><hr />
<h3 id='therefore'>Therefore…</h3>

<p>VMware Fusion and VirtualBox+NFS are considerably faster than VirtualBox+Shared Folders, and only slightly behind using the host machine.</p>

<p>Using either VM solution in this case also has the nice advantage over the host machine in that you can halt the VM when you&#8217;re not developing to free up all its resources!</p>

<p>Please let us know at <a href='mailto:hello@stackmachine.com'>hello@stackmachine.com</a> about your own experiences with this!</p>

<h3 id='addendum'>Addendum</h3>

<p>I looked a little more into I/O performance for routines like accessing the database that would affect the speed of integration tests. <a href='http://www.postgresql.org/docs/devel/static/pgbench.html'>pgbench</a> ships with postgres and is a simple albeit synthetic way to measure postgresql performance. In each case the postgres configuration is the default with <code>shared_buffers</code> set to 24MB and autovacuum off. The script I used:</p>
<div class='highlight'><pre><code class='bash'>createdb pgbench
pgbench -i -s 10 pgbench <span class='c'># use scalefactor = 10</span>
pgbench -T 600 pgbench <span class='c'># collect results over 10 minutes</span>
</code></pre></div>
<h5 id='host_machine'>Host Machine:</h5>
<div class='highlight'><pre><code class='bash'>transaction <span class='nb'>type</span>: TPC-B <span class='o'>(</span>sort of<span class='o'>)</span>
scaling factor: 10
query mode: simple
number of clients: 1
number of threads: 1
duration: 600 s
number of transactions actually processed: 673985
<span class='nv'>tps</span> <span class='o'>=</span> 1123.322847 <span class='o'>(</span>including connections establishing<span class='o'>)</span>
<span class='nv'>tps</span> <span class='o'>=</span> 1123.328761 <span class='o'>(</span>excluding connections establishing<span class='o'>)</span>
</code></pre></div>
<h5 id='virtualbox'>VirtualBox:</h5>
<div class='highlight'><pre><code class='bash'>number of transactions actually processed: 421642
<span class='nv'>tps</span> <span class='o'>=</span> 702.709747 <span class='o'>(</span>including connections establishing<span class='o'>)</span>
<span class='nv'>tps</span> <span class='o'>=</span> 702.713031 <span class='o'>(</span>excluding connections establishing<span class='o'>)</span>
</code></pre></div>
<h5 id='vmware_fusion'>VMware Fusion:</h5>
<div class='highlight'><pre><code class='bash'>number of transactions actually processed: 558332
<span class='nv'>tps</span> <span class='o'>=</span> 930.552663 <span class='o'>(</span>including connections establishing<span class='o'>)</span>
<span class='nv'>tps</span> <span class='o'>=</span> 930.557223 <span class='o'>(</span>excluding connections establishing<span class='o'>)</span>
</code></pre></div>
<p>So in raw database performance, VMWare is about 20% slower than the host machine, and VirtualBox is 20% slower still - these differences didn&#8217;t correlate to the real-world cases above, though.</p>
</article>

  </div>
  <div class="col-sm-4 columns">
    <h4>StackMachine is your personal Docker registry.</h4>
    <p><a href="/users">Sign up for free</a>.</p>
    <h4>Follow StackMachine</h4>
    <ul class="shelf">
      <li><a href="https://github.com/stackmachine">github.com/stackmachine</a></li>
      <li><a href="https://facebook.com/stackmachine">facebook.com/stackmachine</a></li>
      <li><a href="https://twitter.com/stackmachine">twitter.com/stackmachine</a></li>
    </ul>
  </div>
</div>

{% endblock %}


{% block title %}Web development performance inside and outside a VM{% endblock %}



