{% extends "manage.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3">
    {% include "core/accountpanel.html" %}
  </div>
  <div class="col-sm-9">
    <h2>Notifications</h2>
    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" value="{{ user.email }}">
        <p class="help-block">Verified email address we'll use for notification emails</p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
