{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
      <h1><a href="{% url 'home' %}">{{ user.username }}</a></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-push-8">
    <h3>Your Games</h3>
    <ul class="repositories shelf">
      {% for game in games %}
      <li>
        <a href="{% url 'games.view' game.slug %}">{{ game.name }}</a>
      </li>
      {% empty %}
      <li>You don't have any games yet! Follow the steps below to get started.
      <a class="btn btn-primary" href="{% url 'games:create' %}">Create a game</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-8 col-md-pull-4">
    <h3>Getting Started with StackMachine</h3>
    <h4>Authenticate via the Docker command line</h4>
    <div id="dockercfg">
      {{ dockercfg|safe }}
    </div>
    <h4>Tag an image into a repository</h4>
    {{ docker_tag|safe }}
    <h4>Push your repository to StackMachine</h4>
    {{ docker_push|safe }}
  </div>
</div>
{% endblock %}
