{% extends "manage.html" %}

{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <h2>Games</h2>
    <ul class="games">
      {% for game in games %}
      <li>
        <a href="{% url 'games:view' game.uuid %}" class="cover">
          <img class="game-icon" src="{{ game.icon_url }}" />
          {{ game.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'games:create' %}">+ Create new game</a>
  </div>
  <div class="col-md-4 beta">
    {% include 'games/beta.html' %}
  </div>
</div>

{% endblock %}
