{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1>My Games
</h2>
    <div class="row">
      <div class="game col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <a href="{% url 'games:create' %}" class="cover newgame"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'games:create' %}">Create new game</a>
      </div>
      {% for game in games %}
      <div class="game col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <a href="{% url 'games:view' game.uuid %}" class="cover">
          <img src="{% static game.icon_url %}" />
        </a>
        <a href="{% url 'games:view' game.uuid %}">{{ game.name }}</a></h3>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
