
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-12 columns">
    <a id="bloglogo" href="/blog"><img alt="Pixel Pusher: The StackMachine Blog" src="/static/img/bloglogo.gif"></a>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 columns">
    <h1><a href="/blog/introducing-glove">Introducing Glove, the LÖVE Compatibility Library</a></h1>

<article class="post">
  <p>With the recent release of LÖVE 0.9, there are now two popular versions of the framework. While many games will be migrating to 0.9, many will choose to stay with 0.8 for the foreseeable future. These two versions cause an issue for developers looking to create libraries for LÖVE, as they need to support both versions of the framework.</p>

<p>Inspired by <a href='http://pythonhosted.org/six'>six</a>, a compatibility library for Python 2 and 3, we&#8217;re happy to introduce <a href='https://github.com/stackmachine/glove'>Glove</a>, a compatibility library for LÖVE 0.8 and 0.9. Glove is a single Lua file, so it&#8217;s easy to integrate. Once you&#8217;ve download the file, migrating involves only a few changes. Let&#8217;s look at code that only works on 0.8</p>

<pre><code>function love.load()
  love.filesystem.mkdir(&#39;saves&#39;)
end</code></pre>

<p><a href='http://love2d.org/wiki/love.filesystem.mkdir'>love.filesystem.mkdir</a> was renamed in LÖVE 0.9 and will no longer work. With Glove, you can easily make this code work across versions.</p>

<pre><code>local glove = require &#39;glove&#39;

function love.load()
  glove.filesystem.mkdir(&#39;saves&#39;)
end</code></pre>

<p>This code will now work across both versions of the LÖVE framework.</p>

<p>The StackMachine SDK for LÖVE is powered using Glove and we can&#8217;t wait for the library to grow. You can see a list of all the supported methods in the <a href='https://github.com/stackmachine/glove/wiki/Supported-Methods-and-Modules'>documentation</a> and contribute to the <a href='https://github.com/stackmachine/glove'>code on GitHub</a>.</p>
</article>

<div class="well" id="mc_embed_signup">
  <form class="form-inline" role="form" action="http://stackmachine.us7.list-manage.com/subscribe/post?u=6200d341ebdd542a86f42f04d&amp;id=9624067a19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6200d341ebdd542a86f42f04d_9624067a19" value=""></div>
    <p class="lead">Get notified of new posts</p>
    <div class="row">
      <div class="col-sm-9">
        <label class="sr-only" for="EMAIL">Email Address</label>
        <input type="text" value="" class="form-control"  name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
      </div>
      <div class="col-sm-3">
        <input class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>

  </div>
  <div class="col-sm-3 columns">
    <p><a href="/">StackMachine</a> helps you publish, track, and sell your games. Upload your game and we'll handle the rest. Instantly start selling your game, no waiting required.</p>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-primary" href="/accounts/register/">Sign up for free</a>
    </div>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-default" href="https://github.com/stackmachine">Code on GitHub</a>
      <a class="btn btn-default" href="https://twitter.com/stackmachine">Follow on Twitter</a>
      <a class="btn btn-default" href="/blog/feed.xml">RSS Feed</a>
    </div>
  </div>
</div>

{% endblock %}


{% block title %}Introducing Glove, the LÖVE Compatibility Library{% endblock %}



