
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-12 columns">
    <a id="bloglogo" href="/blog"><img alt="Pixel Pusher: The StackMachine Blog" src="/static/img/bloglogo.gif"></a>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 columns">
    <div id="home">
  <section class="posts">
    
    
    <article class="post">
      <h1><a href="/blog/custom-icons-splash-oh-my">Custom Icons, Splash Screens and Versions, Oh My!</a></h1>
      <p>Many of you have been asking to customize your game, so we&#8217;re excited to announce the launch of custom icons and splash screens for all games. Go to the new &#8220;Settings&#8221; tab on your game dashboard to choose and upload your icon and splash screen.</p>
<img alt='Settings for To The Moon' class='screenshot' src='/static/img/moon-settings.png' />
<p>We&#8217;ve also added the ability to choose a version number when releasing a game. When uploading a new release of your game, you can now pick whatever version you&#8217;d like.</p>
<img alt='Settings for To The Moon' class='screenshot' src='/static/img/moon-release.png' />
<p>Tell us what think, message <a href='https://twitter.com/stackmachine'>@StackMachine</a> on Twitter.</p>
    </article>
    
    
    
    <article class="post">
      <h1><a href="/blog/testing-games-using-travis-ci">Testing LÖVE Games Using Travis CI</a></h1>
      <p>One of our main goals at StackMachine is to bring game development up to speed with the rest of the software engineering industry. Best practices such as unit testing, continuous integration, and continuous delivery have yet to make it into the mainstream game development pipeline.</p>

<p>One of the easiest things you can do to improve your process is start testing your LÖVE modules and games using Travis CI. Travis is a free continuous integration service for open source projects. It&#8217;s deeply integrated into GitHub, making it easy to enable and use. Several popular projects, such as <a href='https://github.com/hawkthorne/hawkthorne-journey'>Journey to the Center of Hawkthorne</a> and <a href='https://github.com/stackmachine/glove'>Glove</a>, use Travis to power their tests.</p>

<h2 id='the_setup'>The Setup</h2>

<p>Before you can begin, you&#8217;ll need to login into Travis using your GitHub account. From there, you&#8217;ll be able to enable testing on specific repositories.</p>

<p>Travis knows how to run your tests by looking for a <code>.travis.yml</code> file in your repository. Below is a sample configuration you can use for your LÖVE game. You can also check out the <a href='https://github.com/stackmachine/glove/blob/master/.travis.yml'>.travis.yml</a> for Glove.</p>
<div class='highlight'><pre><code class='yaml'><span class='l-Scalar-Plain'>language</span><span class='p-Indicator'>:</span> <span class='l-Scalar-Plain'>erlang</span>
<span class='l-Scalar-Plain'>before_install</span><span class='p-Indicator'>:</span>
  <span class='p-Indicator'>-</span> <span class='s'>&quot;export</span><span class='nv'> </span><span class='s'>DISPLAY=:99.0&quot;</span>
  <span class='p-Indicator'>-</span> <span class='s'>&quot;sh</span><span class='nv'> </span><span class='s'>-e</span><span class='nv'> </span><span class='s'>/etc/init.d/xvfb</span><span class='nv'> </span><span class='s'>start&quot;</span>
<span class='l-Scalar-Plain'>install</span><span class='p-Indicator'>:</span>
  <span class='p-Indicator'>-</span> <span class='l-Scalar-Plain'>mkdir -p $TRAVIS_BUILD_DIR/share/love/</span>
<span class='l-Scalar-Plain'>env</span><span class='p-Indicator'>:</span>
  <span class='l-Scalar-Plain'>matrix</span><span class='p-Indicator'>:</span>
    <span class='p-Indicator'>-</span> <span class='l-Scalar-Plain'>LOVE_VERSION=0.8.0</span>
    <span class='p-Indicator'>-</span> <span class='l-Scalar-Plain'>LOVE_VERSION=0.9.0</span>
  <span class='l-Scalar-Plain'>global</span><span class='p-Indicator'>:</span>
    <span class='p-Indicator'>-</span> <span class='l-Scalar-Plain'>XDG_DATA_HOME=&quot;$TRAVIS_BUILD_DIR/share&quot;</span>
<span class='l-Scalar-Plain'>script</span><span class='p-Indicator'>:</span> <span class='l-Scalar-Plain'>make test</span>
</code></pre></div>
<p>A few notes about this configuration:</p>

<p>We set the language to erlang because Travis has yet to officially support Lua. We aren&#8217;t installing Lua because the tests are run using LÖVE itself.</p>

<p>On Linux, LÖVE uses <code>~/.local/share/love/</code> for storing game data. This folder isn&#8217;t writable in the Travis environment, so we need to set the <code>XDG_DATA_HOME</code> environment variable to a writable path.</p>

<p>Lastly, we make sure to start a virtual display so that LÖVE can run without an actual display attached to the session.</p>

<h2 id='running_tests'>Running Tests</h2>

<p>Glove uses <a href='https://github.com/stackmachine/lovetest'>lovetest</a> to run its unit and functional tests. The reason lovetest is used over more common test runners such as <a href='http://www.mroth.net/lunit/'>lunit</a> and <a href='http://olivinelabs.com/busted/'>busted</a> is that we want access to the <code>love</code> module from our tests.</p>

<p>Below is a sample Makefile for running LÖVE in the Travis environment. It supports both 0.8.0 and 0.9.0, as your game or module may use both.</p>
<div class='highlight'><pre><code class='make'><span class='cp'>ifeq ($(LOVE_VERSION), 0.9.0)</span>
  <span class='nv'>LOVE</span> <span class='o'>=</span> /usr/bin/love9
<span class='cp'>else</span>
  <span class='nv'>LOVE</span> <span class='o'>=</span> /usr/bin/love8
<span class='cp'>endif</span>

<span class='nf'>test</span><span class='o'>:</span> <span class='m'>$(LOVE)</span>
	<span class='k'>$(</span>LOVE<span class='k'>)</span> path/to/game --test

<span class='nf'>/usr/bin/love8</span><span class='o'>:</span>
	wget https://bitbucket.org/rude/love/downloads/love_0.8.0-0precise1_amd64.deb
	-sudo dpkg -i love_0.8.0-0precise1_amd64.deb
	sudo apt-get update -y
	sudo apt-get install -f -y
	sudo ln -s /usr/bin/love /usr/bin/love8

<span class='nf'>/usr/bin/love9</span><span class='o'>:</span>
	sudo add-apt-repository -y ppa:bartbes/love-stable
	sudo apt-get update -y
	sudo apt-get install -y love
	sudo ln -s /usr/bin/love /usr/bin/love9
</code></pre></div>
<p>This sample is a stripped-down version of <a href='https://github.com/stackmachine/glove/blob/master/Makefile'>Glove&#8217;s Makefile</a> for Glove.</p>

<p>You&#8217;ll need to change <code>path/to/game</code> to point to the directory that contains your <code>main.lua</code>.</p>

<h2 id='trouble_shooting'>Trouble Shooting</h2>

<p>Running LÖVE in a headless environment can be tricky. During startup, you&#8217;ll see a list of scary errors such as these.</p>

<pre><code>shm_open() failed: Permission denied
AL lib: pulseaudio.c:612: Context did not connect: Access denied
ALSA lib confmisc.c:768:(parse_card) cannot find card &#39;0&#39;
ALSA lib conf.c:4241:(_snd_config_evaluate) function snd_func_card_driver returned error:
ALSA lib pcm.c:2217:(snd_pcm_open_noupdate) Unknown PCM default
AL lib: alsa.c:512: Could not open playback device &#39;default&#39;:
AL lib: oss.c:169: Could not open /dev/dsp: Permission denied</code></pre>

<p>Don&#8217;t worry about these errors. They stem from the lack of a valid audio backend in the CI environment. They have no effect on your tests.</p>

<h2 id='go_now_and_test'>Go Now and Test</h2>

<p>With this setup you should be able to add continuous integration to your LÖVE module or game in a matter of minutes. Having tests run on every commit make it more likely you&#8217;ll spot bugs earlier and ship fewer regressions.</p>
    </article>
    
    
    
    <article class="post">
      <h1><a href="/blog/introducing-glove">Introducing Glove, the LÖVE Compatibility Library</a></h1>
      <p>With the recent release of LÖVE 0.9, there are now two popular versions of the framework. While many games will be migrating to 0.9, many will choose to stay with 0.8 for the foreseeable future. These two versions cause an issue for developers looking to create libraries for LÖVE, as they need to support both versions of the framework.</p>

<p>Inspired by <a href='http://pythonhosted.org/six'>six</a>, a compatibility library for Python 2 and 3, we&#8217;re happy to introduce <a href='https://github.com/stackmachine/glove'>Glove</a>, a compatibility library for LÖVE 0.8 and 0.9. Glove is a single Lua file, so it&#8217;s easy to integrate. Once you&#8217;ve download the file, migrating involves only a few changes. Let&#8217;s look at code that only works on 0.8</p>

<pre><code>function love.load()
  love.filesystem.mkdir(&#39;saves&#39;)
end</code></pre>

<p><a href='http://love2d.org/wiki/love.filesystem.mkdir'>love.filesystem.mkdir</a> was renamed in LÖVE 0.9 and will no longer work. With Glove, you can easily make this code work across versions.</p>

<pre><code>local glove = require &#39;glove&#39;

function love.load()
  glove.filesystem.mkdir(&#39;saves&#39;)
end</code></pre>

<p>This code will now work across both versions of the LÖVE framework.</p>

<p>The StackMachine SDK for LÖVE is powered using Glove and we can&#8217;t wait for the library to grow. You can see a list of all the supported methods in the <a href='https://github.com/stackmachine/glove/wiki/Supported-Methods-and-Modules'>documentation</a> and contribute to the <a href='https://github.com/stackmachine/glove'>code on GitHub</a>.</p>
    </article>
    
    
    
    <article class="post">
      <h1><a href="/blog/love-zero-nine-support-has-arrived">Announcing Support for LÖVE 0.9.0</a></h1>
      <p><img alt='Baby Inspector' src='/static/img/baby.jpg' /></p>

<p>Version 0.9.0 (codename Baby Inspector) was released last week after a year in development. It&#8217;s a huge milestone for the engine and we&#8217;re happy to have been a part of the release. StackMachine powers <a href='http://love2d.org/builds'>Nightly LÖVE</a>, <a href='http://ci.projecthawkthorne.com'>the Jenkins infrastructure</a> behind nightly builds of LÖVE game engine. Users have been testing out 0.9.0 for months before the official release, finding bugs and providing valuable feedback.</p>

<p>Today StackMachine launches full support for 0.9.0. To enable 0.9.0 for your game, just make sure to include the following in your <code>conf.lua</code>:</p>

<pre><code>function love.conf(t)
  t.version = &quot;0.9.0&quot;
end</code></pre>

<p>If you&#8217;re unfamiliar with <code>conf.lua</code>, read the <a href='http://www.love2d.org/wiki/Config_Files'>Config Files</a> over on the LÖVE wiki. To maintain backwards compatibility, games without 0.9.0 declared in <code>conf.lua</code> will continue to use version 0.8.0 of the engine.</p>

<p>We&#8217;ve got more exciting features planned over the next few weeks, so <a href='http://localhost:8000/blog/feed.xml'>subscribe</a> and stay tuned.</p>
    </article>
    
    
    
    
    
    
    
    
    
    
    
  </section>
</div>

  </div>
  <div class="col-sm-3 columns">
    <p><a href="/">StackMachine</a> helps you publish, track, and sell your games. Upload your game and we'll handle the rest. Instantly start selling your game, no waiting required.</p>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-primary" href="/accounts/register/">Sign up for free</a>
    </div>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-default" href="https://github.com/stackmachine">Code on GitHub</a>
      <a class="btn btn-default" href="https://twitter.com/stackmachine">Follow on Twitter</a>
      <a class="btn btn-default" href="/blog/feed.xml">RSS Feed</a>
    </div>
  </div>
</div>

{% endblock %}


{% block title %}The StackMachine Blog{% endblock %}



