
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-12 columns">
    <h2>The StackMachine Blog</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 columns">
    <div id="home">
  <section class="posts">
    
  </section>
</div>

  </div>
  <div class="col-sm-4 columns">
    <h4>StackMachine is your personal Docker registry.</h4>
    <p><a href="/users">Sign up for free</a>.</p>
    <h4>Follow StackMachine</h4>
    <ul class="shelf">
      <li><a href="https://github.com/stackmachine">github.com/stackmachine</a></li>
      <li><a href="https://facebook.com/stackmachine">facebook.com/stackmachine</a></li>
      <li><a href="https://twitter.com/stackmachine">twitter.com/stackmachine</a></li>
    </ul>
  </div>
</div>

{% endblock %}


{% block title %}The StackMachine Blog{% endblock %}



