{% raw %}
{% extends "base.html" %}

{% load static %}

{% block content %}
{% endraw %}
<div class="row">
  <div class="col-sm-12 columns">
    <h2>{{ page.title }}</h2>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 columns">
    {{ content }}
  </div>
  <div class="col-sm-3 columns">
    <p><a href="/">StackMachine</a> helps you publish, track, and sell your games. Upload your game and we'll handle the rest. Instantly start selling your game, no waiting required.</p>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-primary" href="/accounts/register/">Sign up for free</a>
    </div>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-default" href="https://github.com/stackmachine">Code on GitHub</a>
      <a class="btn btn-default" href="https://twitter.com/stackmachine">Follow on Twitter</a>
      <a class="btn btn-default" href="/blog/feed.xml">RSS Feed</a>
    </div>
  </div>
</div>
{% raw %}
{% endblock %}
{% endraw %}

{% raw %}{% block title %}{% endraw %}{{ page.title }}{% raw %}{% endblock %}{% endraw %}



