<table class="table">
  <thead>
    <tr>
      <th>Version</th>
      {% if show_love_version %}
      <th>LÖVE Version</th>
      {% endif %}
      <th>.love</th>
      <th>Windows</th>
      <th>OSX</th>
    </tr>
  </thead>
  <tbody>
    {% for release in releases %}
    <tr>
      <td>{{ release.version }}</td>
      {% if show_love_version %}
      <td>{{ release.love_version }}</td>
      {% endif %}
      <td>
        {% if release.love_url %}
        <a href="{{ release.love_url }}">Download</a></td>
        {% else %}
        <span>Processing...</span>
        {% endif %}
      </td>
      <td>
        {% if release.windows_url %}
        <a href="{{ release.windows_url }}">Download</a></td>
        {% else %}
        <span>Processing...</span>
        {% endif %}
      </td>
      <td>
        {% if release.osx_url %}
        <a href="{{ release.osx_url }}">Download</a></td>
        {% else %}
        <span>Processing...</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

