<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Game Engine Support</h3>
  </div>
  <div class="panel-body">
    <p>StackMachine currently only supports games written using the <a href="https://love2d.org">LÖVE</a> game engine, but we'll be adding support for more engines soon. Sign up below to get updates when support for your engine of choice is available.</p>
    <a href="https://stackmachine.wufoo.com/forms/ztyiid21ckdcr5" class="btn btn-info">Join the StackMachine Beta</a>
  </div>
</div>

