{% extends "base.html" %}
{% load staticfiles %}

{% block wide %}
<div class="heroshot">
  <div class="container">
    <div id="topshot" class="col-md-12">
      <div class="row herorow">
        <div class="col-md-12">
          <h2>Host your Docker images with ease</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2">
          <a class="btn btn-lg btn-default" href="{% url 'auth_login' %}">Sign up</a>
        </div>
        <div class="col-sm-4 col-md-3">
          <a class="btn btn-lg btn-primary" href="{% url 'socialauth_begin' 'github' %}">Sign in with GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12 howitworks">
    <div class="row text-center">
      <h3>How it works:</h3>
    </div>
    <div class="row">
      <div class="col-xs-4 text-center">
        <img src="{% static 'img/number-1.png' %}" alt="1" />
        <h4>docker build</h4>
        <p>Create a Docker image from a running container or a premade Dockerfile.</p>
      </div>
      <div class="col-xs-4 text-center">
        <img src="{% static 'img/number-2.png' %}" alt="2" />
        <h4>docker push</h4>
        <p>Upload your image to your private StackMachine repository. Tag it for later.</p>
      </div>
      <div class="col-xs-4 text-center">
        <img src="{% static 'img/number-3.png' %}" alt="3" />
        <h4>docker pull</h4>
        <p>Deploy your image to production. Track when and where it’s been deployed.</p>
      </div>
    </div>
  </div>

  <div id="bottomsell" class="col-md-12">
    <div class="row herorow">
      <div class="col-sm-9">
        <h2>Try StackMachine free for fourteen days</h2>
        <h4>No credit required</h4>
      </div>
      <div class="col-sm-3">
        <a class="btn btn-lg btn-primary" href="{% url 'socialauth_begin' 'github' %}">Get started now</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
