{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap %}

{% block title %}Create a New Release{% endblock %}

{% block content %}

{% include "games/gamebar.html" %} 

<div class="row">
  <div class="col-sm-12">
    <h2>Create a new release</h2>
    <form id="upload" action="" role="form" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div id="drop">
        <div class="message">
          <strong>Drag and drop a .love file here</strong> or <a id="browse" href="#">Click to choose a file to upload</a>
        </div>
        <div class="file">
          <div class="knobc">
            <input class="knob" id="knob" type="text" value="0" data-width="60" data-height="60" data-fgColor="#FFF" data-readOnly="1" data-bgColor="#95275f" />
          </div>
        </div>
        <input id="id_lovefile" class=" form-control" type="file" name="lovefile">
        <input type="hidden" id="id_next" value="{% url 'games:releases' game.uuid %}">
      </div>
    </form>
  </div>
</div>

<div id="upload-errors" class="row">
</div>
{% endblock %}

{% block extra_js %}
<script defer type="text/javascript" src="{% static 'js/jquery.knob.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/jquery.ui.widget.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/jquery.iframe-transport.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/uploader.js' %}"></script>
{% endblock %}
