{% extends "base.html" %}

{% load core_extras %}

{% block title %}Releases | {{ game.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    {% include "games/gamebar.html" %}
    <table class="table">
      <thead>
        <tr>
          <th>Version</th>
          <th>Windows</th>
          <th>OSX</th>
        </tr>
      </thead>
      <tbody>
        {% for release in object_list %}
        <tr>
          <td>{{ release.version }}</td>
          <td><a href="{{ release.windows_url }}">Download</a></td>
          <td><a href="{{ release.osx_url }}">Download</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class='btn btn-primary' href="{% url 'games:newrelease' game.pk %}">Draft new release</a>
  </div>
</div>
{% endblock %}


