
{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
  <div class="col-sm-12 columns">
    <a id="bloglogo" href="/blog"><img alt="Pixel Pusher: The StackMachine Blog" src="/static/img/bloglogo.gif"></a>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 columns">
    <h1><a href="/blog/custom-icons-splash-oh-my">Custom Icons, Splash Screens and Versions, Oh My!</a></h1>

<article class="post">
  <p>Many of you have been asking to customize your game, so we&#8217;re excited to announce the launch of custom icons and splash screens for all games. Go to the new &#8220;Settings&#8221; tab on your game dashboard to choose and upload your icon and splash screen.</p>
<img alt='Settings for To The Moon' class='screenshot' src='/static/img/moon-settings.png' />
<p>We&#8217;ve also added the ability to choose a version number when releasing a game. When uploading a new release of your game, you can now pick whatever version you&#8217;d like.</p>
<img alt='Settings for To The Moon' class='screenshot' src='/static/img/moon-release.png' />
<p>Tell us what think, message <a href='https://twitter.com/stackmachine'>@StackMachine</a> on Twitter.</p>
</article>

<div class="well" id="mc_embed_signup">
  <form class="form-inline" role="form" action="http://stackmachine.us7.list-manage.com/subscribe/post?u=6200d341ebdd542a86f42f04d&amp;id=9624067a19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6200d341ebdd542a86f42f04d_9624067a19" value=""></div>
    <p class="lead">Get notified of new posts</p>
    <div class="row">
      <div class="col-sm-9">
        <label class="sr-only" for="EMAIL">Email Address</label>
        <input type="text" value="" class="form-control"  name="EMAIL" id="mce-EMAIL" placeholder="Email Address" required>
      </div>
      <div class="col-sm-3">
        <input class="btn btn-primary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </div>
  </form>
</div>

  </div>
  <div class="col-sm-3 columns">
    <p><a href="/">StackMachine</a> helps you publish, track, and sell your games. Upload your game and we'll handle the rest. Instantly start selling your game, no waiting required.</p>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-primary" href="/accounts/register/">Sign up for free</a>
    </div>

    <div class="btn-group-vertical btn-group-full">
      <a class="btn btn-default" href="https://github.com/stackmachine">Code on GitHub</a>
      <a class="btn btn-default" href="https://twitter.com/stackmachine">Follow on Twitter</a>
      <a class="btn btn-default" href="/blog/feed.xml">RSS Feed</a>
    </div>
  </div>
</div>

{% endblock %}


{% block title %}Custom Icons, Splash Screens and Versions, Oh My!{% endblock %}



